{
    "codebuild": {
        "search_depth" : 10
        "source": {
            "buildname": "ppr-backend-build",
            "repo_directory": "/home/rizkiihzaparama/Traveloka/ppr-backend",
            "environment_variable": {
                "FORCE_RELEASE": {
                    "value" : "true",
                    "type" : "PLAINTEXT"
                }
            }
        },
        "ami": {
            "buildname": {
                "pprtool": "pprtool-newrepo-bake-ami",
                "pprsrch": "pprsrch-newrepo-bake-ami",
                "pprpapi": "pprpapi-newrepo-bake-ami",
                "pprops": "pprops-newrepo-bake-ami",
                "pprjob": "pprjob-newrepo-bake-ami",
                "pprdata": "pprdata-newrepo-bake-ami",
                "pprbook": "pprbook-newrepo-bake-ami"
            },
            "commit_comparison_number" : 6
        }
    },
    "environment": {
        "dev": {
            "account": "tvlk-ppr-dev_SuperAdmin"
        },
        "stg": {
            "account": "tvlk-ppr-stg_SuperAdmin"
        },
        "prod": {
            "account": "tvlk-ppr-prod_SuperAdmin"
        }
    },
    "command_prefix": "awsudo -u"
}